__pycache__
*.egg
*.egg-info/
sdist/
eggs/
.eggs/
build/
dist

# Generated/Downloaded files
/cogment/version.py
/cogment/api
/tests/test_cogment_app/cogment-dockerinvm.yaml

# Environment file (used for tests)
/.env

# Backup of "sed-ed" files
*.bak
