__pycache__
*.egg
*.egg-info/
sdist/
eggs/
.eggs/
.vscode/
build/
dist
.mypy_cache
.pytest_cache
/.venv*

# Generated/Downloaded files
/cogment/api
/tests/test_cogment_app/params_*.yaml
/tests/test_cogment_app/cogment_*.yaml
/tests/test_cogment_app/*.py
/integration_test_report.xml
/.cogment

# Environment file (used for tests)
/.env

# Backup of "sed-ed" files
*.bak
