__pycache__
*.egg
*.egg-info/
sdist/
eggs/
.eggs/
build/
dist
.mypy_cache
.pytest_cache

# Generated/Downloaded files
/cogment/version.py
/cogment/api
/tests/test_cogment_app/cogment_*.yaml
/tests/test_cogment_app/*.py

# Environment file (used for tests)
/.env

# Backup of "sed-ed" files
*.bak
