[tool.poetry]
name = "cogment"
version = "1.0.0-alpha1"
description = "Cogment python SDK"
authors = ["Artificial Intelligence Redefined <dev+cogment@ai-r.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://cogment.ai"
repository = "https://gitlab.com/cogment/cogment"
# Customized build.py to customize commands.
build="build.py"
include = ["./cogment/version.py"]
exclude = [
  "./cogment/version.py.in",
  "./cogment/api/*.py"
]

[tool.poetry.dependencies]
python = "^3.7"
grpcio = "==1.30"
grpcio-reflection = ">==1.19"
protobuf = ">=3.7"
prometheus-client = "^0.8.0"

[tool.poetry.dev-dependencies]
taskipy = "^1.4.0"
pycodestyle = "^2.6.0"
mypy = "^0.790"
pytest = "^6.1.1"
PyYAML = "^5.3.1"
pytest-dotenv = "^0.5.2"
pytest-asyncio = "^0.14.0"

[tool.taskipy.tasks]
lint = "task lint_pycodestyle && task lint_mypy"
lint_pycodestyle = "pycodestyle --exclude=*pb2.py,*pb2_grpc.py cogment/"
lint_mypy = "mypy --config-file mypy.ini cogment/"
generate_test_cogment_app = "cd ./tests/test_cogment_app && ${COGMENT_PATH} generate -v --python_dir=."
test = "pytest"

[tool.pytest.ini_options]
addopts = "-rfs"
junit_suite_name = "cogment_py_sdk_tests"
